{% if 'username' not in session %}
{% else %}
<ul id="menu" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
    <li class="mfb-component__wrap">
        <a href="/item/new/" data-mfb-label="New Item" class="mfb-component__button--main">
            <i class="mfb-component__main-icon--resting ion-plus-round"></i>
            <i class="mfb-component__main-icon--active ion-edit"></i>
        </a>
        <ul class="mfb-component__list">
            <li>
                <a href="/category/new/" data-mfb-label="new catgory" class="mfb-component__button--child">
                    <i class="mfb-component__child-icon ion-flag"></i>
                </a>
            </li>
        </ul>
    </li>
</ul>
{% endif %}


