<header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
    {% include "parts_login.html" %}
    <div class="mdl-layout__header-row portfolio-logo-row">
        <span class="mdl-layout__title">
            <div class="portfolio-logo">
            </div>
            <span class="mdl-layout__title">Simple Item Catalog website</span>
        </span>
    </div>
    <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                <a class="mdl-navigation__link" href="/new_arrival/">New Arrival</a>
                <a class="mdl-navigation__link" href="/your_exhibit/">Your Exhibit</a>
                <a class="mdl-navigation__link" href="/all_category/">All Category</a>
        </nav>
    </div>
</header>